/**
 * @package 	WordPress
 * @subpackage 	Total School
 * @version 	1.1.2
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */ 
	#wp-calendar tbody td, 
	#wp-calendar tbody th, 
	.widget_rss ul li .rsswidget, 
	.widget_recent_comments ul li a, 
	.widget_recent_entries ul li a, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li p,  
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_likes a > span, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_comments a > span, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_category a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_tags a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_likes a > span, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_comments a > span, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_category a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_tags a, 
	body, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title, 
	.header_top a, 
	.header_top, 
	.top_line_nav > li > a,
	.top_line_nav ul li a {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.header_top a, 
	.header_top, 
	.top_line_nav > li > a, 
	.top_line_nav ul li a {
		font-size:12px;
		line-height:20px;
	}
	
	.top_line_nav > li > a {
		letter-spacing:1px;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter_subtitle {
		font-size:14px;
	}
	
	.cmsmasters_campaigns .campaign .cmsmasters_stats.stats_mode_bars.stats_type_horizontal .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap {
		font-size:16px;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title {
		font-size:18px;
		line-height:27px;
	}
	
	#page .select2-container .select2-choice {
		font-weight:normal;
	}
	
	#wp-calendar tbody td, 
	#wp-calendar tbody th {
		font-size:13px;
		line-height:22px;
		font-weight:400; /* static */
	}
	
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li p {
		line-height:18px;
	}
	
	.widget_rss ul li .rsswidget, 
	.widget_recent_entries ul li a, 
	.widget_recent_comments ul li a, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li * , 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont a {
		font-size:17px;
	}
	
	.cmsmasters_footer_default .footer_custom_html {
		line-height:16px;
	}
	
	.cmsmasters_open_profile .profile_sidebar .profile_details_item .profile_details_item_title, 
	.cmsmasters_open_profile .profile_sidebar .profile_features_item .profile_features_item_title, 
	.cmsmasters_open_project .project_sidebar .project_details_item .project_details_item_title, 
	.cmsmasters_open_project .project_sidebar .project_features_item .project_features_item_title, 
	.footer_inner .footer_copyright { 
		line-height:24px;
	}
	
	.share_wrap {
		line-height:20px; /* static */
	}
	
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_category a, 
	.cmsmasters_open_profile .profile_sidebar .cmsmasters_profile_tags a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_category a, 
	.cmsmasters_open_project .project_sidebar .cmsmasters_project_tags a {
		text-transform:none;
	}
	
	@media only screen and (max-width: 540px) {
		#page .post_nav a {
			font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:17px;
			line-height:24px;
			font-weight:normal;
			font-style:normal;
		}
	}
	/* Finish Content Font */


	/* Start Link Font */
	a,
	.subpage_nav > strong,
	.subpage_nav > span,
	.subpage_nav > a {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	.navigation > li > a, 
	.footer_nav > li > a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.footer_nav > li > a {
		font-size:12px;
	}
	
	.mid_nav > li > a .nav_title:before {
		font-size:20px; /* static */
	}

	.bot_nav > li > a .nav_title:before {
		font-size:14px; /* static */	
	}
	
	.navigation li > a .nav_subtitle, 
	.navigation li > a .nav_tag {
		font-size:11px;
		line-height:18px;	
		font-weight:800;
		text-transform:uppercase;
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	.navigation .menu-item-mega-container > ul > li > a, 
	.navigation ul li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:bold;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.navigation .menu-item-mega-container > ul > li > a {
		font-size:14px;
	}
	
	@media only screen and (max-width: 1024px) {
		.navigation > li > a, 
		.navigation .menu-item-mega-container > ul > li > a .nav_title {
			font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:12px;
			line-height:20px;
			font-weight:bold;
			font-style:normal;
			text-transform:uppercase;
		}
		
		#header .navigation li li > a {
			font-size:11px;
		}
	}
	/* Finish Navigation Dropdown Font */
	
	
	/* Start H1 Font */
	h1,
	h1 a,
	.logo .title, 
	.cmsmasters_pricing_table .cmsmasters_price_wrap, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap, 
	#header .search_bar_wrap .search_field input {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
		font-size:48px;
		line-height:54px;
	}
	
	.cmsmasters_dropcap {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_icon_list_items.cmsmasters_icon_list_icon_type_number .cmsmasters_icon_list_item .cmsmasters_icon_list_icon:before,
	.cmsmasters_icon_box.box_icon_type_number:before,
	.cmsmasters_icon_box.cmsmasters_icon_heading_left.box_icon_type_number .icon_box_heading:before {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_dropcap.type1 {
		font-size:60px; /* static */
	}
	
	.cmsmasters_dropcap.type2 {
		font-size:36px; /* static */
	}
	
	.cmsmasters_pricing_table .cmsmasters_price_wrap, 
	#header .search_bar_wrap .search_field input {
		font-size:60px; /* static */
		line-height:60px; /* static */
	}
	
	.cmsmasters_sitemap_wrap > h1 {
		font-size:28px;
		line-height:34px;
	}
	
	.navi_scrolled .logo .title {
		font-size:26px;
		line-height:26px;
	}
	
	.headline_outer .headline_inner .headline_icon:before {
		font-size:45px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon:before {
		font-size:61px;
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:45px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:45px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:61px;
	}
	
	@media only screen and (max-width: 768px) {
		.headline_outer .headline_inner .headline_icon:before {
			font-size:40px;
		}
		
		.headline_outer .headline_inner.align_center .headline_icon:before {
			font-size:45px;
		}
		
		.headline_outer .headline_inner.align_center .headline_icon {
			padding-top:50px;
		}
		
		#header .search_bar_wrap .search_field input {
			font-size:30px; /* static */
			line-height:30px; /* static */
		}
	
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a, 
	.cmsmasters_stats .cmsmasters_stat_inner_stat_info .cmsmasters_stat_counter_wrap, 
	.cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_stats.stats_mode_bars .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner .cmsmasters_stat_counter_wrap, 
	.post_nav a, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_day, 
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title a, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_title, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_title a, 
	.cmsmasters_profile_vertical .cmsmasters_profile_title, 
	.cmsmasters_profile_vertical .cmsmasters_profile_title a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post_nav a:before, 
	.post_nav a:after {
		line-height:30px;
	}
	
	.cmsmasters_stats .cmsmasters_stat_inner_stat_info .cmsmasters_stat_counter_wrap, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_day {
		font-size:30px;
	}
	
	.cmsmasters_single_slider .cmsmasters_single_slider_item_title a {
		font-size:18px;
	}
	
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content a, 
	.cmsmasters_twitter_wrap .cmsmasters_twitter_item_content {
		line-height:36px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a, 
	.cmsmasters_table thead th, 
	.cmsmasters_table tfoot td, 
	.cmsmasters_tabs .cmsmasters_tabs_list_item > a span, 
	.comment-respond .comment-reply-title, 
	.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title, 
	.cmsmasters_toggles .cmsmasters_toggle_title a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_tabs .cmsmasters_tabs_list_item > a span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_header .cmsmasters_slider_post_title, 
	.cmsmasters_slider_post .cmsmasters_slider_post_header .cmsmasters_slider_post_title a, 
	.cmsmasters_quotes_slider .cmsmasters_quote_title, 
	.cmsmasters_quotes_grid .cmsmasters_quote_title {
		font-size:18px;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5, 
	h5 a, 
	.wpcf7 p, 
	.widget_tag_cloud a, 
	#wp-calendar caption, 
	.cmsmasters_table tbody td, 
	.cmsmasters_pricing_table .cmsmasters_period, 
	.comment-respond label, 
	.comment-reply-title a, 
	.cmsmasters_comment_item_buttons a, 
	.cmsmasters_comment_item > a, 
	.cmsmasters_open_post .cmsmasters_post_date, 
	.cmsmasters_wrap_pagination ul li .page-numbers, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > .sub-menu > li > a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive li, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category li, 
	.widget_rss .widgettitle a, 
	.widget .widgettitle, 
	.widget_nav_menu ul li a, 
	.widget.widget_nav_menu .sub-menu > li > a, 
	.widget_pages ul li a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.widget_rss .widgettitle a, 
	.widget .widgettitle,
	.widget_nav_menu ul li a, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > a {
		font-size:19px;
		line-height:25px;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a, 
	.widget_custom_twitter_entries .tweet_time, 
	.widget_rss ul li cite, 
	.widget_rss ul li .rss-date, 
	.widget_recent_entries .post-date, 
	.widget.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li small, 
	.widget.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tab.tab_comments li small * , 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont > .published, 
	.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item a * , 
	.widget.widget_nav_menu .sub-menu > li li a, 
	#wp-calendar thead td, 
	#wp-calendar thead th, 
	.widget_archive ul li a, 
	.widget_meta ul li a, 
	.widget_categories ul li a, 
	.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_bottom .entry-meta *, 
	.cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_cont_wrap_top *, 
	.cmsmasters_slider_project_category a, 
	.cmsmasters_twitter_wrap .published, 
	.cmsmasters_img .cmsmasters_img_caption, 
	.cmsmasters_open_profile .profile_sidebar .profile_details_item_title, 
	.cmsmasters_open_profile .profile_sidebar .profile_features_item_title, 	
	.cmsmasters_open_project .project_sidebar .project_details_item_title, 
	.cmsmasters_open_project .project_sidebar .project_features_item_title, 
	.comment-respond .logged-in-as, 
	.comment-respond .logged-in-as a, 
	.cmsmasters_comment_item .cmsmasters_comment_item_date, 
	.share_posts a, 
	.cmsmasters_open_post .cmsmasters_post_footer a, 
	.cmsmasters_project_category > a, 
	.footer_copyright, 
	.cmsmasters_post_timeline .cmsmasters_post_date .cmsmasters_mon, 
	.cmsmasters_likes a > span, 
	.cmsmasters_comments a > span, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > a, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > span, 
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > div,
	.cmsmasters_open_post .cmsmasters_open_post_top > a, 
	.cmsmasters_open_post .cmsmasters_open_post_top > span, 
	.cmsmasters_open_post .cmsmasters_open_post_top > div,
	.cmsmasters_post_content_meta * , 
	.cmsmasters_post_info_bottom .cmsmasters_post_cont_info * , 
	.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner * , 
	#wp-calendar tfoot a, 
	.cmsmasters_slider_post .cmsmasters_slider_post_read_more {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_slider_post .cmsmasters_slider_post_read_more, 
	.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle, 
	.cmsmasters_profile_vertical .cmsmasters_profile_subtitle {
		font-size:13px;
	}
	
	.cmsmasters_profile_horizontal .cmsmasters_profile_subtitle, 
	.cmsmasters_profile_vertical .cmsmasters_profile_subtitle {
		letter-spacing:1px;
	}

	.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner * {
		font-size:12px;
	}
	
	.post .cmsmasters_post_cont_wrapper .cmsmasters_post_info > span {
		line-height:20px;
	}
	
	.widget_tag_cloud a {
		font-size:14px !important;
	}
	
	@media only screen and (max-width: 540px) {
		.cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title {
			font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:14px;
			line-height:20px;
			font-weight:normal;
			font-style:normal;
			text-transform:none;
			text-decoration:none;
		}
	}
	
	
	@media only screen and (max-width: 768px) {
		.cmsmasters_tabs .cmsmasters_tabs_list_item > a span {
			font-size:14px;
		}
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.cmsmasters_button, 
	.button, 
	input[type=submit], 
	input[type=button], 
	button {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_filter_but, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but, 
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but:before	{
		line-height:16px;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:14px !important;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg, 
	.cmsmasters_button.cmsmasters_but_icon_divider, 
	.cmsmasters_button.cmsmasters_but_icon_inverse {
		padding-left:44px;
	}
	
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:before, 
	.cmsmasters_button.cmsmasters_but_icon_divider:before, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:before, 
	.cmsmasters_button.cmsmasters_but_icon_dark_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_light_bg:after, 
	.cmsmasters_button.cmsmasters_but_icon_divider:after, 
	.cmsmasters_button.cmsmasters_but_icon_inverse:after {
		width:24px;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small
	form .formError .formErrorContent, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_likes a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_comments a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info, 
	.cmsmasters_slider_post .cmsmasters_slider_post_cont_info a, 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_subtitle {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_likes a > span, 
	.cmsmasters_slider_post .cmsmasters_slider_post_date_top_meta_wrap .cmsmasters_comments a > span {
		font-size:11px;
		letter-spacing:1px;
	}
	
	.cmsmasters_campaigns .campaign .cmsmasters_stat_subtitle {
		font-size:14px;
		letter-spacing:1px;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:13px !important;
		line-height:20px !important;
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), 
	textarea,
	select,
	option {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
		line-height:46px; /*static*/
	}
	
	.gform_wrapper input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]),
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:15px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	blockquote, 
	.cmsmasters_quotes_slider .cmsmasters_quote_content, 
	.cmsmasters_quotes_grid .cmsmasters_quote_content {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:28px;
		font-weight:normal;
		font-style:normal;
	}
	
	q {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start CMSMASTERS Donations Font Styles ******************/

	/* Start Content Font */
	.cmsmasters_single_slider_campaign .cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap * , 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_title {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsmasters_single_slider_campaign .cmsmasters_stats .cmsmasters_stat_wrap .cmsmasters_stat_title_wrap * , 
	.cmsmasters_campaigns .campaign .cmsmasters_stat_title {
		text-transform:none;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	/* Finish Link Font */
	
	
	/* Start Navigation Title Font */
	/* Finish Navigation Title Font */
	
	
	/* Start H1 Font */
	.donations.opened-article > .donation .cmsmasters_donation_amount_currency {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	/* Finish H2 Font */
	
	
	/* Start H3 Font */	
	.cmsmasters_donation_field > label, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_stat_title_wrap * {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donations_count_title, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_target_title {
		font-size:16px;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_stat_title_wrap * {
		font-size:14px;
	}
	
	@media only screen and (max-width: 600px) {
		.cmsmasters_donation_field > label {
			font-size:16px;
		}
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	.cmsmasters_featured_campaign .campaign .cmsmasters_campaign_rest_amount {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsmasters_single_slider_campaign .cmsmasters_single_slider_item_title {
		font-size:22px;
	}
	
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_donations_count_number, 
	.opened-article > .campaign .campaign_meta_wrap .cmsmasters_campaign_target_number {
		font-size:24px;
	}
	
	.cmsmasters_featured_campaign .cmsmasters_campaign_donated_percent .cmsmasters_stat_container {
		height:328px;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.donations.opened-article > .donation .cmsmasters_donation_campaign a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.donations.opened-article > .donation .cmsmasters_donation_details_item_title, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_title a, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_value, 
	.donations.opened-article > .donation .cmsmasters_donation_details_item_value a, 
	.cmsmasters_single_slider_campaign .cmsmasters_stat_subtitle, 
	.opened-article > .campaign .cmsmasters_campaign_cont_info > span * , 
	.opened-article > .campaign .cmsmasters_campaign_cont_info > span, 
	.cmsmasters_donations .donation .cmsmasters_donation_campaign a, 
	#page .cmsmasters_featured_campaign .cmsmasters_campaign_donated_percent .cmsmasters_stat_title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	.header_donation_but .cmsmasters_button {
		font-size:16px;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	/* Finish Small Text Font */

/***************** Finish CMSMASTERS Donations Font Styles ******************/



/***************** Start Tribe Events Font Styles ******************/
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-description,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-description p,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-description,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-description p,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-month__multiday-event-bar-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-month__multiday-event-bar-title p,
	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-description,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-week-grid__multiday-event-bar-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe_events,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe-events-single-event-description,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe-events-single-event-description p {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-events-single *,
	.cmsmasters_tribe_events_views_v2 .tribe-events *,
	.cmsmasters_tribe_events_views_v2 .tribe-events-pro *,
	.tribe-events-calendar-month__calendar-event-tooltip * {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
	}

	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-description {
		font-size:13px;
		line-height:22px;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-events .tribe-events-calendar-month__multiday-event-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events .tribe-events-pro-week-grid__multiday-event-wrapper {
		height:24px;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe-events-single-event-title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-title a,
	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single ul.tribe-related-events li .tribe-related-events-title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-title {
		font-size:28px;
		line-height:34px;
	}

	
	@media only screen and (max-width: 540px) {
		.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-title,
		.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-title a,
		.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-title,
		.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-title a,
		.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-title,
		.cmsmasters_tribe_events_views_v2 .tribe-events-single ul.tribe-related-events li .tribe-related-events-title {
			font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:24px;
			line-height:30px;
			font-weight:normal;
			font-style:normal;
			text-transform:none;
			text-decoration:none;
		}
	
		.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-title {
			font-size:22px;
			line-height:28px;
		}
	}

	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-summary__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-summary__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-photo__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-photo__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-title a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-map__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-map__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-title a {
		font-size:22px;
		line-height:28px;
	}

	.cmsmasters_tribe_events_views_v2 .cmsmasters_sidebar .widgettitle,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-countdown .tribe-events-widget-countdown__header-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__header-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__header-title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-list__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-calendar-day__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-photo__event-datetime,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-photo__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-photo__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-summary__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-summary__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-summary__event-cost,
	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-datetime,
	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe-events-schedule,
	.cmsmasters_tribe_events_views_v2 .tribe-events-single .tribe-events-schedule *,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-header,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-header,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-datetime,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-datetime,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-countdown .tribe-events-widget-countdown__event-title,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-countdown .tribe-events-widget-countdown__event-title a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__venue-name,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__venue-name a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-venue a,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-organizer-title-wrapper a {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-datetime,
	.tribe-events-calendar-month__calendar-event-tooltip .tribe-events-calendar-month__calendar-event-tooltip-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-map__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-map__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-common .tribe-events-pro-map__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-week .tribe-events-pro-week-mobile-events__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-venue,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-shortcode-events-week .tribe-events-pro-week-mobile-events__event-cost,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-month .tribe-events-calendar-month-mobile-events__mobile-event-datetime,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-widget-events-shortcode-month .tribe-events-calendar-month-mobile-events__mobile-event-datetime,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-featured-venue .tribe-events-widget-featured-venue__event-datetime-wrapper,
	.cmsmasters_tribe_events_views_v2 .tribe-events-widget.tribe-common.tribe-events.tribe-events-view--widget-events-list .tribe-events-widget-events-list__event-datetime-wrapper {
		font-size:12px;
		line-height:18px;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-events .tribe-events-c-nav__next,
	.cmsmasters_tribe_events_views_v2 .tribe-events .tribe-events-c-nav__prev,
	.cmsmasters_tribe_events_views_v2 .tribe-events-pro .tribe-events-c-small-cta__link {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}

	.cmsmasters_tribe_events_views_v2 .tribe-events-pro .tribe-events-c-small-cta__link {
		font-size:12px;
		line-height:22px;
	}
/***************** Finish Tribe Events Font Styles ******************/

/***************** Start Gutenberg Module Custom Font Styles ******************/
	/* Start H2 Font */
	 .editor-post-title__block .editor-post-title__input {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */

/***************** Finish Gutenberg Module Custom Font Styles ******************/





/***************** Start Gutenberg Module General Font Styles ******************/

	/* Start Content Font */
	body .editor-styles-wrapper,
	body .editor-styles-wrapper p,
	 p.has-drop-cap:not(:focus)::first-letter,
	 .wp-block-image figcaption,
	 .wp-block-gallery .blocks-gallery-image figcaption,
	 .wp-block-gallery .blocks-gallery-item figcaption,
	 .wp-block-gallery .gallery-item .gallery-caption,
	 .wp-block-audio figcaption,
	 .wp-block-video figcaption,
	 .wp-caption dd,
	 div.wp-block ul,
	 div.wp-block ul > li,
	 div.wp-block ol,
	 div.wp-block ol > li,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-meta, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-meta,
	 .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-excerpt p, 
	 .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p,
	 .wp-block-freeform,
	 .wp-block-freeform p,
	 .wp-block-freeform.mce-content-body {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	 p.has-drop-cap:not(:focus)::first-letter {
		font-size:3em;
		line-height:1.2em;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	.editor-styles-wrapper a,
	.editor-styles-wrapper .wp-block-file .wp-block-file__textlink .editor-rich-text__tinymce {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	 .wp-block-heading h1,
	 .wp-block-heading h1.editor-rich-text__tinymce,
	.editor-styles-wrapper h1,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
	.editor-post-title__block .editor-post-title__input {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	 .wp-block-heading h2,
	 .wp-block-heading h2.editor-rich-text__tinymce,
	.editor-styles-wrapper h2,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
	 h2.editor-rich-text__tinymce,
	 .wp-block-cover h2, 
	 .wp-block-cover .wp-block-cover-text, 
	 .wp-block-cover .wp-block-cover-image-text, 
	 .wp-block-cover-image h2, 
	 .wp-block-cover-image .wp-block-cover-text, 
	 .wp-block-cover-image .wp-block-cover-image-text {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:30px;
		line-height:36px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */
	 .wp-block-heading h3,
	 .wp-block-heading h3.editor-rich-text__tinymce,
	.editor-styles-wrapper h3,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3 {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	 .wp-block-heading h4,
	 .wp-block-heading h4.editor-rich-text__tinymce,
	.editor-styles-wrapper h4,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4 {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	 .wp-block-heading h5,
	 .wp-block-heading h5.editor-rich-text__tinymce,
	.editor-styles-wrapper h5,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5 {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	 .wp-block-heading h6,
	 .wp-block-heading h6.editor-rich-text__tinymce,
	.editor-styles-wrapper h6,
	.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6 {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	 .wp-block-button .wp-block-button__link,
	 .wp-block-file .wp-block-file__button {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	 small,
	 .wp-block-latest-posts .wp-block-latest-posts__post-date,
	 .wp-block-latest-comments .wp-block-latest-comments__comment-date {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Small Text Font */
	
	
	/* Start Text Fields Font */
	.editor-styles-wrapper select,
	.editor-styles-wrapper option {
		font-family:'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
	}
	
	.editor-styles-wrapper select {
		line-height:1em;
	}
	/* Finish Text Fields Font */
	
	
	/* Start Blockquote Font */
	 .wp-block-quote,
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large,
	 .wp-block-pullquote,
	.editor-styles-wrapper .wp-block-freeform blockquote,
	.editor-styles-wrapper .wp-block-freeform blockquote p {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:28px;
		font-weight:normal;
		font-style:normal;
	}
	
	 .wp-block-quote.is-large,
	 .wp-block-quote.is-style-large {
		font-size:20px;
		line-height:32px;
	}
	
	 .wp-block-pullquote {
		font-size:12px;
		line-height:24px;
	}
	
	.editor-styles-wrapper q {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
	}
	/* Finish Blockquote Font */

/***************** Finish Gutenberg Module General Font Styles ******************/


/***************** Start LearnPress Font Styles ******************/

	/* Start Content Font */
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_footer,
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_footer a {
		font-size:14px;
	}
	
	.cmsmasters_learnpress_shortcode .lpr_course_post .cmsmasters_course_origin_price {
		font-size:13px;
	}
	/* Finish Content Font */


	/* Start H1 Font */
	.cmsmasters_course_title {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:40px;
		line-height:46px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H1 Font */	
	
	
	/* Start Button Font */
	#course-item-content-header .form-button.lp-button-back button,
	.learnpress-page .lp-button,
	.learnpress-page #lp-button,
	#learn-press-course .learn-press-course-wishlist,
	#learn-press-profile .learn-press-course-wishlist,
	#learn-press-course .course-summary-sidebar .course-sidebar-preview .lp-course-buttons button,
	#learn-press-profile #profile-content .lp-button,
	#checkout-payment #checkout-order-action button,
	#popup-course #popup-content .lp-button.completed {
		font-family:'Roboto Slab', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:24px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Button Font */
	

/***************** Finish LearPress Font Styles ******************/

